* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}
#botao{
  display: inline-block;
  color: rgb(0, 0, 0);
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 600;
  text-decoration:underline;
  padding: 10px 30px;
  margin-top: 30px;
  border-radius: 50px;
}
#container{
    font-family: 'Open Sans', sans-serif;
    size: 10px;
}
#resultadoConsulta{
    font-size: 25px;
    padding: 10px 30px;
    margin-top: 30px;
}

#dig{
    font-size: 35px;
    padding: 10px 30px;
    color: rgb(92, 2, 177);
}
#con{
    font-size: 50px;
    padding: 10px 30px;
    color: rgb(218, 194, 8);
    justify-content: center;
}
#id{
    margin-top: 5px;
    justify-content: center;
    margin-left: 30px;
    margin-right: 750px;
    font-size: medium;
    border-radius: 5px;
}
